fastapi
uvicorn
psycopg2
python-dotenv
python-decouple
axios
sqlalchemy
bcrypt
python-jose
passlib
gunicorn
sqlmodel
timescaledb
requests
psycopg[binary]     
fastapi-mail
jinja2
google-generativeai
python-multipart
google-auth-oauthlib
google-api-python-client
google-auth
elevenlabs